<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>332430593221-f2j45d6bcl6kjf87nsv7ctj15koj1v8q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332430593221-f2j45d6bcl6kjf87nsv7ctj15koj1v8q</string>
	<key>API_KEY</key>
	<string>AIzaSyD_fokcamAWMvpR77RHuegGz-X618bnw0I</string>
	<key>GCM_SENDER_ID</key>
	<string>332430593221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>practice.ReDoCTA</string>
	<key>PROJECT_ID</key>
	<string>cta2-d9265</string>
	<key>STORAGE_BUCKET</key>
	<string>cta2-d9265.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332430593221:ios:a913fffeeee2664983f4ac</string>
	<key>DATABASE_URL</key>
	<string>https://cta2-d9265.firebaseio.com</string>
</dict>
</plist>